*{
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

#topHeader{
  width: 70%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
}

#logoSection{
  grid-column: 1 / 4;
}

#searchSection{
  grid-column: 4 / 10;
}

#searchField{
  width: 75%;
}

#iconSection{
  grid-column: 11 / -1;
}

/* SHOW PHONE AREA  */
#showPhoneSection{
  width: 50%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  justify-content: center;
}

.showDetailsParent{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

#showDetailsImage{
  justify-self: center;
  padding: 1rem 0;
}

#loadMorePhones{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  justify-content: center;
}

#loadMoreDiv{
  display: none;
}

#loadMorePhonesParent{
  display: none;
  margin: 2rem;
}

